body {background-color: black;}

h1,p,h2,h3 {
    font-family:"Verdana", sans-serif;
    text-align: center;
    color: white;
    font-weight: normal; !Important
}

a {
   color: Aquamarine;
   font-size:16px;
   text-align: center;
 }

h2 {
  font-size: 42px;
  font-weight: 300; !Important
}

h3 {
  font-size: 21px;
  color: grey;
}

#discover {
    font-size: 50px;

}

.center {
  margin: 0 auto;
  display: block;
}

#copyright {
  text-align: right
}
