body {background-color: black;}

h1,p {
    font-family:"Verdana", sans-serif;
    text-align: center;
}

p {color: Aquamarine;
   font-size:16px;
   text-align: center;}

h2 {
     font-size:10px;
     color:white;
   }

#discover {
    font-size: 50px;
    color:white;
}

.center {
  margin: 0 auto;
  display: block;
}
