body {background-color: black;}

h1, p {
  text-align: center;
}

p {color: Aquamarine;
   font-size:16px;}

.item h1 {
    color: white;
    font-size: 50px;
}

.center {
  margin: 0 auto;
  display: block;
}
